@charset "utf-8";

@import "variables";

*, *:before, *:after {
    box-sizing: border-box;
}

html,body {
    font-family: $base-font;
    // font-size: $base-size;
    line-height: $base-line-height;
    background-color: $background-color;
    height: 100%;
    padding: 0;
    margin: 0;
}

a {
    color: $primary-color !important;
    text-decoration: none;
}

.container {
  padding: 0 2.5vh;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  max-width: $content-width;
  margin: auto;
}

.container-header {
     border-bottom: 1px black solid;
}

.container-main {
  flex: 1;
}

.conainter-footer {
    text-align: center;
    width:100%;
}

.index {
    text-align: center;
    padding-top: 10%;
}

.index-item {
    padding: 0;
    margin: 0 auto 1.4rem;
}

.nav {
  font-size: 1.4rem;
  list-style-type: none;
  padding: 0;
}

img.index-headshot {
    display: block;
    width: 200px;
    height: 200px;
    background: #E6E7ED;
    text-align: center;
    align-content: center;
    align-items: center;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

ul.index-social {
  list-style-type: none;
  padding: 0;
  margin: 2rem auto 1.4rem;
}

ul.index-social li {
    display: inline;
    margin: 0 0.5rem;
}

.icon {
    display: inline-block;
    width: 2em;
    height: 2em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

.icon-twitter {
    width: 0.9287109375*2em;
}

.icon-github {
    width: 0.857421875*2em;
}

.icon-mail {
    width: 0.857421875*2em;
}

.icon-rss {
    width: 0.7861328125*2em;
}

.pure-menu-list li {
    padding-left: 3em;
}

.horizontal-nav {
    flex-direction: row;
    display: flex;
}

.horizontal-nav-expander {
  flex: 1;
}

.pure-menu-link {
  padding-right: 0 !important;
  padding-left: 0 !important;
  color: $primary-color;
}
