{% extends "_base.html" %}

{% block body %}

<header>
  <nav>
    <ul>
    <li><a href="{{ get_url(path="/") }}">Me</a></li>
    <li><a href="{{ get_url(path="posts") }}">Blog</a></li>
    </ul>
  </nav>
</header>

<main class="site-content container-main">
  {% block content %}
    <div class="posts">
      {% set posts = get_section(path="posts/_index.md") %}
      {% for page in posts.pages %}
        {{ macros::post_header(page=page, excerpt=true) }}
      {% endfor %}
    </div>
  {% endblock content %}
</main>


{% endblock body %}
